*GIT {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
                Paleta de Colores:
                    347433
                    FFC107
                    FF6F3C
                    B22222
                */
body {
  background-color: #347433;
  width: 80%;
  border: 3px solid #ff6f3c;
  text-align: center;
  margin: 20px auto;
}

header {
  background-color: #ffc107;
  border: 5px solid #347433;
}

main {
  background-color: #ff6f3c;
  border: 5px solid #347433;
}

footer {
  background-color: #b22222;
  border: 5px solid #347433;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
}
